body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
.container{
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

header{
    background-color: #333;
    padding: 20px;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

section{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

        